html {
	padding: 0px;
	margin: 0.1em;
}
main {
	margin: auto ;
	color: #ddd ;
	background: var(#555) ;
	border: dashed 1px var(#555) ;
	padding: 0.1em ;
	border-radius: 20px ;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	color: #fffaff;
	font-style: sans-serif ;
	background: linear-gradient(rgb(46, 0, 130), rgb(94, 134, 146)) fixed ;
	word-wrap: break-word;
	width: 90%;
	max-width: 950px;
	padding: 25px 30px 20px 30px;
	text-align: left;
	margin: auto;
	margin-top: 20px;
}
p img, li img, h1 img, h2 img, h3 img, h4 img {
	max-height: 1em;
	max-width: 1em;
	vertical-align: middle ;
}
h1 {
	font-size: xx-large;
	text-align: center;
}
p {
	padding-left: 0.4em;
	padding-right: 0.4em;
}
a {
	color: #b3e0ff;
	text-decoration: none;
}
li {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
nav li, footer li {
	list-style: none ;
	padding: 0.5em ;
	max-width: 10em ;
	display: inline-block ;
}

pre {
    font-family: monospace;
    font-size: initial;
    line-height: initial;
    overflow-x: auto;
}
nav ul, footer ul {
	padding: 0;
	margin: .5em;
}
nav,footer {
	text-align: center ;
	font-variant: small ;
	clear: both ;
	border-radius: 20px ;
	margin: auto ;
	padding: 1em ;
}
main, nav, footer {
	box-shadow: 5px 5px 5px 5px rgba(32, 255, 107, 0.637) ;
}
hr {margin: 0px 0px 0px 0px;}
a:hover {color: #3d94ca}

